footer(class="footer")
  div(class="social")
    include logo
    ul(class="social__list")
      li(class="social__item")
        a(class="social__link" href="https://vk.com/selectel" target="_blank")
          img(class="social__image" src="img/vk.svg" width="32" height="18" alt="vk")
      li(class="social__item")
        a(class="social__link" href="https://www.facebook.com/selectel/" target="_blank")
          img(class="social__image" src="img/facebook.svg" width="11" height="24" alt="facebook")
      li(class="social__item")
        a(class="social__link" href="https://twitter.com/selectel" target="_blank")
          img(class="social__image" src="img/twitter.svg" width="28" height="24" alt="twitter")
      li(class="social__item")
        a(class="social__link" href="https://habrahabr.ru/company/selectel/" target="_blank")
          img(class="social__image" src="img/habrahabr.svg" width="22" height="24" alt="habrahabr")
      li(class="social__item")
        a(class="social__link" href="https://www.youtube.com/channel/UCVU0Ml1l_Y90wmy5EjWTSng" target="_blank")
          img(class="social__image" src="img/youtube.svg" width="28" height="24" alt="youtube")
      li(class="social__item")
        a(class="social__link" href="https://www.instagram.com/selectel.ru/" target="_blank")
          img(class="social__image" src="img/instagram.svg" width="24" height="24" alt="instagram")