meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Тестовое задание Selectel
meta(content='Тестовое задание Selectel' name='description')
link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500,600&amp;subset=cyrillic")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic")
link(rel='stylesheet' href='css/style.min.css')