section(class="offers")
  h3(class="offers__title") Доступные конфигурации
  div(class="offers__container")
    ul(class="offers__tip-list")
      li(class="offers__tip-item") Процессор
      li(class="offers__tip-item") Жесткий диск
      li(class="offers__tip-item") Память
      li(class="offers__tip-item") Цена
    img(class="loader" src="img/loader.svg" width="16" height="16" alt="загрузка данных")
