div(class="slider")
  ul(class="slider__list")

    li(class="slider__item slide slide--active")
      div(class="slide__wrapper")
        h2(class="slide__title") Надежные серверы для проектов любой сложности
        p(class="slide__desc") Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
        a(class="btn btn--regular" href="https://selectel.ru/" target="_blank") Заказать

    li(class="slider__item slide")
      div(class="slide__wrapper")
        h2(class="slide__title") Надежное, безопасное, удобное хранилище ваших данных
        p(class="slide__desc") Подходит для веб-приложений, хранения архивов, резервного копирования и раздачи статического контента.
        a(class="btn btn--regular" href="https://selectel.ru/" target="_blank") Заказать

    li(class="slider__item slide")
      div(class="slide__wrapper")
        h2(class="slide__title") Публичное облако на базе технологий VMware с оплатой по потреблению
        p(class="slide__desc") Публичное облако на базе VMware позволяет быстро нарастить мощности вашего дата-центра без капитальных и организационных затрат с оплатой за потребляемые ресурсы.
        a(class="btn btn--regular" href="https://selectel.ru/" target="_blank") Заказать

    li(class="slider__item slide")
      div(class="slide__wrapper")
        h2(class="slide__title") Размещение серверного оборудования в дата‑центрах уровня надежности Tier III
        p(class="slide__desc") Размещение серверного оборудования (колокейшн) в современном дата-центре с уровнем надежности Tier III с гарантированным каналом связи с высокой пропускной способностью, бесперебойным питанием и необходимым охлаждением.
        a(class="btn btn--regular" href="https://selectel.ru/" target="_blank") Заказать

  div(class="slider__pagination")
    button(class="btn slider__pagination-btn slider__pagination-btn--active" type="button")
      span(class="visually-hidden") первый слайд
    button(class="btn slider__pagination-btn")
      span(class="visually-hidden") второй слайд
    button(class="btn slider__pagination-btn")
      span(class="visually-hidden") третий слайд
    button(class="btn slider__pagination-btn")
      span(class="visually-hidden") четвертыйп слайд
  div(class="slider__controls")
    button(class="btn slider__control-btn slider__control-btn--prev" type="button")
      span(class="visually-hidden") предыдущий слайд
    button(class="btn slider__control-btn slider__control-btn--next" type="button")
      span(class="visually-hidden") следущий слайд