template(id="template-server")
  div(class="server")
    span(class="server__tip") Процессор
    span(class="server__info server__info--cpu")
    span(class="server__tip") Жесткий диск
    span(class="server__info server__info--hdd")
    span(class="server__tip") Память
    span(class="server__info server__info--ram")
    span(class="server__tip") Цена
    span(class="server__info server__info--price")
    a(class="btn btn--regular btn--margin-left" href="https://selectel.ru/" target="_blank") Заказать

