doctype html
html(lang='ru')
  head
    include includes/head
  
  body(class="page")
    include includes/header
    main(class="main")
      include includes/slider
      include includes/offer

    include includes/footer
    include includes/template
    include includes/scripts
