@import 'includes/normalize.styl'
@import 'includes/variables.styl'
@import 'includes/page.styl'
@import 'includes/btn.styl'
@import 'includes/header.styl'
@import 'includes/logo.styl'
@import 'includes/slider.styl'
@import 'includes/offers.styl'
@import 'includes/loader.styl'
@import 'includes/server.styl'
@import 'includes/error-message.styl'
@import 'includes/footer.styl'
@import 'includes/social.styl'