.offers
  padding 80px 0 64px

  @media screen and (min-width: 1168px)
    padding 120px 0 96px

.offers__title
  font-family $montserrat
  font-weight 600
  line-height 40px
  font-size 32px
  text-align center
  color: $black
  margin 0 0 32px

  @media screen and (min-width: 1168px)
    line-height 48px
    font-size 40px
    margin-bottom 48px

.offers__container
  width 100%
  padding 0 5%
  margin 0 auto

  @media screen and (min-width: 1168px)
    width 1168px
    padding 0 16px

.offers__tip-list
  display none

  @media screen and (min-width: 1168px)
    display flex
    flex-direction row
    padding 0
    margin 0
    list-style none
    line-height 24px
    font-size 16px
    color $black
    padding-bottom: 16px

.offers__tip-item
  width 20%
  padding-left 40px

.offers__tip-item:nth-child(2)
  padding-left 61px


.offers__tip-item:nth-child(3)
  padding-left 25px
  width 16%

.offers__tip-item:nth-child(4)
  padding-left 36px
