.server
  border 2px solid $black
  box-sizing border-box
  border-radius 8px
  margin-bottom 16px
  padding 22px

  @media screen and (min-width: 1168px)
    margin-bottom 24px
    display flex
    flex-direction row
    align-items center

.server__tip
  display block
  line-height 24px
  font-size 16px
  text-align left
  color $black

  @media screen and (min-width: 1168px)
      display none

.server__info
  display block
  line-height 24px
  font-size 18px
  text-align left
  color $solidBlack
  width 72%
  margin-bottom 16px

  @media screen and (min-width: 1168px)
    width 20%
    margin 0
    line-height 20px



.server__info--cpu

  @media screen and (min-width: 1168px)
    padding-left 16px
    padding-right 30px

.server__info--hdd

  @media screen and (min-width: 1168px)
    padding-left 47px

.server__info--ram

  @media screen and (min-width: 1168px)
    width: 19%;
    padding-left 21px


.server__info--price

  @media screen and (min-width: 1168px)
    padding-left 6px