$bg1 = linear-gradient(180deg, #2F3F66 0%, #314579 100%)
$bg2 = linear-gradient(180deg, #2F4966 0%, #34557C 100%)
$bg3 = linear-gradient(180deg, #2F6066 0%, #327179 100%)
$bg4 = linear-gradient(180deg, #4E2F66 0%, #603285 100%)
$bg5 = #092433

$black = rgba(0, 0, 0, 0.8)
$solidBlack = rgba(0, 0, 0, 1)

$white = #fff
$red =  #FF0000
$darkRed = #D70000

$montserrat = 'Montserrat', 'Arial', sans-serif;

$transition = opacity 0.3s ease